body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7aad55;
    overflow-x: hidden;

}

.mainCont {
    display: flex;
    justify-content: center;

}

.bgCont {
    position: relative;
    width: 896px;
    height: 768px;
    transform: scale(2.8);
    transform-origin: top center;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jasonFish{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 5;
    bottom: 20%;
    right: 15.5%;
}

#backgroundImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    image-rendering: pixelated;
    display: block;
    z-index: 0;
}

.buttonCont {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    z-index: 10;
    pointer-events: none;

}


.btn {
    pointer-events: auto;
    cursor: pointer;
    width: 64px;
    height: 64px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#jasonButton {


}

#justinButton {


}

#jullianaButton {

}